[submodule "backend/vendor/sokol"]
	path = backend/vendor/sokol
	url = https://github.com/floooh/sokol
[submodule "backend/vendor/cglm"]
	path = backend/vendor/cglm
	url = https://github.com/recp/cglm.git
[submodule "backend/vendor/sokol-samples"]
	path = backend/vendor/sokol-samples
	url = https://github.com/floooh/sokol-samples
[submodule "backend/vendor/cgltf"]
	path = backend/vendor/cgltf
	url = https://github.com/jkuhlmann/cgltf
